Source/build-*
Examples/**/build*/
Examples/*.apk
Examples/*.app
Examples/*.exe

### Packaging
Source/packaging/linux/cpack/
*.deb
*.dmg

#### OS-generated caches and resources
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### git merge conflict files
*.orig

#### Intermediate build products
*.o

#### Intermediate Language products
*.dex
*.class

#### Caches
# Visual C++
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

#### IDE user-config.
# Android Studio
**/.gradle/
**/.idea/caches
**/.idea/libraries
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/captures/
**/.externalNativeBuild/
**/.cxx/
local.properties

# MonoDevelop/Xamarin Studio
*.userprefs

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/settings.json

# Xcode
xcuserdata/
*.mode1*
*.pbxuser
*.xccheckout
*.xcscmblueprint

#### Other VCS
.svn/
