<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.artoolkitx.arx.ar2dtracking">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera2"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--
    android:configChanges: lists configuration changes that the activity will handle itself. When a configuration change occurs
    at runtime, the activity is shut down and restarted by default, but declaring a configuration with this attribute will
    prevent the activity from being restarted. Instead, the activity remains running and its onConfigurationChanged() method
    is called.
    -->

    <application
        android:name="org.artoolkitx.arx.ar2dtracking.AR2dTrackingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="org.artoolkitx.arx.ar2dtracking.AR2dTrackingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_name"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.artoolkitx.arx.arxj.camera.CameraPreferencesActivity"/>
    </application>

</manifest>
