arm64-v8a/libIlmImf.a
arm64-v8a/libcpufeatures.a
arm64-v8a/liblibjasper.a
arm64-v8a/liblibpng.a
arm64-v8a/liblibprotobuf.a
arm64-v8a/liblibtiff.a
arm64-v8a/liblibwebp.a
arm64-v8a/libopencv_calib3d.a
arm64-v8a/libopencv_core.a
arm64-v8a/libopencv_features2d.a
arm64-v8a/libopencv_flann.a
arm64-v8a/libopencv_highgui.a
arm64-v8a/libopencv_imgcodecs.a
arm64-v8a/libopencv_imgproc.a
arm64-v8a/libopencv_video.a
arm64-v8a/libopencv_videoio.a
arm64-v8a/libtbb.a
arm64-v8a/libtegra_hal.a

armeabi-v7a/libIlmImf.a
armeabi-v7a/libcpufeatures.a
armeabi-v7a/liblibjasper.a
armeabi-v7a/liblibpng.a
armeabi-v7a/liblibprotobuf.a
armeabi-v7a/liblibtiff.a
armeabi-v7a/liblibwebp.a
armeabi-v7a/libopencv_calib3d.a
armeabi-v7a/libopencv_core.a
armeabi-v7a/libopencv_features2d.a
armeabi-v7a/libopencv_flann.a
armeabi-v7a/libopencv_highgui.a
armeabi-v7a/libopencv_imgcodecs.a
armeabi-v7a/libopencv_imgproc.a
armeabi-v7a/libopencv_video.a
armeabi-v7a/libopencv_videoio.a
armeabi-v7a/libtbb.a
armeabi-v7a/libtegra_hal.a

x86/libIlmImf.a
x86/libcpufeatures.a
x86/libittnotify.a
x86/liblibjasper.a
x86/liblibpng.a
x86/liblibprotobuf.a
x86/liblibtiff.a
x86/liblibwebp.a
x86/libopencv_calib3d.a
x86/libopencv_core.a
x86/libopencv_features2d.a
x86/libopencv_flann.a
x86/libopencv_highgui.a
x86/libopencv_imgcodecs.a
x86/libopencv_imgproc.a
x86/libopencv_video.a
x86/libopencv_videoio.a
x86/libtbb.a

x86_64/libIlmImf.a
x86_64/libcpufeatures.a
x86_64/libittnotify.a
x86_64/liblibjasper.a
x86_64/liblibpng.a
x86_64/liblibprotobuf.a
x86_64/liblibtiff.a
x86_64/liblibwebp.a
x86_64/libopencv_calib3d.a
x86_64/libopencv_core.a
x86_64/libopencv_features2d.a
x86_64/libopencv_flann.a
x86_64/libopencv_highgui.a
x86_64/libopencv_imgcodecs.a
x86_64/libopencv_imgproc.a
x86_64/libopencv_video.a
x86_64/libopencv_videoio.a
x86_64/libtbb.a
