arm64-v8a/libIlmImf.a
arm64-v8a/libcpufeatures.a
arm64-v8a/liblibjasper.a
arm64-v8a/liblibpng.a
arm64-v8a/liblibprotobuf.a
arm64-v8a/liblibtiff.a
arm64-v8a/liblibwebp.a
arm64-v8a/libopencv_calib3d.a
arm64-v8a/libopencv_core.a
arm64-v8a/libopencv_features2d.a
arm64-v8a/libopencv_flann.a
arm64-v8a/libopencv_highgui.a
arm64-v8a/libopencv_imgcodecs.a
arm64-v8a/libopencv_imgproc.a
arm64-v8a/libopencv_video.a
arm64-v8a/libopencv_videoio.a
arm64-v8a/libtbb.a
arm64-v8a/libtegra_hal.a
arm64-v8a/libade.a
arm64-v8a/libittnotify.a
arm64-v8a/liblibjpeg-turbo.a
arm64-v8a/liblibopenjp2.a
arm64-v8a/libopencv_dnn.a
arm64-v8a/libopencv_gapi.a
arm64-v8a/libopencv_ml.a
arm64-v8a/libopencv_objdetect.a
arm64-v8a/libopencv_photo.a
arm64-v8a/libopencv_stitching.a
arm64-v8a/libquirc.a

armeabi-v7a/libIlmImf.a
armeabi-v7a/libcpufeatures.a
armeabi-v7a/liblibjasper.a
armeabi-v7a/liblibpng.a
armeabi-v7a/liblibprotobuf.a
armeabi-v7a/liblibtiff.a
armeabi-v7a/liblibwebp.a
armeabi-v7a/libopencv_calib3d.a
armeabi-v7a/libopencv_core.a
armeabi-v7a/libopencv_features2d.a
armeabi-v7a/libopencv_flann.a
armeabi-v7a/libopencv_highgui.a
armeabi-v7a/libopencv_imgcodecs.a
armeabi-v7a/libopencv_imgproc.a
armeabi-v7a/libopencv_video.a
armeabi-v7a/libopencv_videoio.a
armeabi-v7a/libtbb.a
armeabi-v7a/libtegra_hal.a
armeabi-v7a/libade.a
armeabi-v7a/libittnotify.a
armeabi-v7a/liblibjpeg-turbo.a
armeabi-v7a/liblibopenjp2.a
armeabi-v7a/libopencv_dnn.a
armeabi-v7a/libopencv_gapi.a
armeabi-v7a/libopencv_ml.a
armeabi-v7a/libopencv_objdetect.a
armeabi-v7a/libopencv_photo.a
armeabi-v7a/libopencv_stitching.a
armeabi-v7a/libquirc.a

x86/libIlmImf.a
x86/libcpufeatures.a
x86/libittnotify.a
x86/liblibjasper.a
x86/liblibpng.a
x86/liblibprotobuf.a
x86/liblibtiff.a
x86/liblibwebp.a
x86/libopencv_calib3d.a
x86/libopencv_core.a
x86/libopencv_features2d.a
x86/libopencv_flann.a
x86/libopencv_highgui.a
x86/libopencv_imgcodecs.a
x86/libopencv_imgproc.a
x86/libopencv_video.a
x86/libopencv_videoio.a
x86/libtbb.a
x86/libade.a
x86/libippicv.a
x86/libippiw.a
x86/liblibjpeg-turbo.a
x86/liblibopenjp2.a
x86/libopencv_dnn.a
x86/libopencv_gapi.a
x86/libopencv_ml.a
x86/libopencv_objdetect.a
x86/libopencv_photo.a
x86/libopencv_stitching.a
x86/libquirc.a

x86_64/libIlmImf.a
x86_64/libcpufeatures.a
x86_64/libittnotify.a
x86_64/liblibjasper.a
x86_64/liblibpng.a
x86_64/liblibprotobuf.a
x86_64/liblibtiff.a
x86_64/liblibwebp.a
x86_64/libopencv_calib3d.a
x86_64/libopencv_core.a
x86_64/libopencv_features2d.a
x86_64/libopencv_flann.a
x86_64/libopencv_highgui.a
x86_64/libopencv_imgcodecs.a
x86_64/libopencv_imgproc.a
x86_64/libopencv_video.a
x86_64/libopencv_videoio.a
x86_64/libtbb.a
x86_64/libade.a
x86_64/libippicv.a
x86_64/libippiw.a
x86_64/liblibjpeg-turbo.a
x86_64/liblibopenjp2.a
x86_64/libopencv_dnn.a
x86_64/libopencv_gapi.a
x86_64/libopencv_ml.a
x86_64/libopencv_objdetect.a
x86_64/libopencv_photo.a
x86_64/libopencv_stitching.a
x86_64/libquirc.a
